<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% extends 'layout.html' %}
{% block title %} Iniciar sesion {% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Vicroket </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/"><i class="fas fa-house-user"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contactanos">Contactanos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Catalogo
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            
            <li><a class="dropdown-item" href="sucursales">Sucursal</a></li>
            <li><hr class="dropdown-divider">Otros</li>
            <li><a class="dropdown-item" href="promociones">Más sobre el producto</a></li>
          </ul>
        </li>
        <li class="nav-item">
              <a class="nav-link" href="Producto">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Iniciar Sesión</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<form action="/login" method="post">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Usuario</label>
        <input type="email" name="correou" class="form-control" id="exampleFormControlInput1" placeholder="Correo del Usuario">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Contraseña</label>
        <input type="password" name="claveu" class="form-control" id="exampleFormControlInput1" placeholder="Clave">
     </div>
      <div class="mb-3">
        <input type="submit" class="btn-primary" value="Iniciar Sesión">
      </div>
      <div>
      </div>
</form>

{% endblock %}